.how-work {

	display: grid;
	

	padding-top: 65px;

	@include _992 {
		grid-template-columns: 36% auto;
		padding-top: 96px;
	}

	// .how-work__title

	&__title {
	}

	// .how-work__steps-list

	&__steps-list {

		padding-top: 25px;
		
		@include _992 {
			grid-column: 2; grid-row: 2 span;
			padding-left: 50px; padding-top: 0;
			margin-bottom: 60px;
		}
		
		counter-reset: how_work_step_number;
		margin-bottom: 30px;
		
	}

	// .how-work__step

	&__step {
		&:not(:first-child) {
			margin-top: 10px;
		}

		background: var(--primary-color-light);
		
		border: 1px solid var(--primary-color-1);
		border-radius: 30px;

		padding: 30px 20px 30px 60px;
		@include _768 {
			padding: 40px 10px 40px 90px;

			border: 3px solid var(--primary-color-1);
			border-radius: 40px;
		}
		position: relative;

		&:nth-child(-n + 9)::before {
			content: "0"counter(how_work_step_number);
		}
		
		&::before {
			counter-increment: how_work_step_number;
			content: counter(how_work_step_number);
		
			font-family: 'Proxima Nova', sans-serif;
			font-style: normal;
			font-weight: 800;
			font-size: 1.5rem;
			line-height: 138%;

			color: #FF9900;

			position: absolute;
			left: 50px; top: 27px;
			transform: translate(-100%,0);
			@include _768 {
				left: 75px; top: 41px;
				transform: translate(-100%,0);
			}

		}
		

		h3 {
			color: var(--title-color);
			font-weight: 700;
			font-size: 1.25rem;
			
			@include _768 {
				font-size: 1.5rem;
			}
			
			line-height: 138%;
	
		}

		p {
			padding-top: 10px;
			font-weight: 300;
			font-size: 0.875rem;
			line-height: 150%;
			
			@include _768 {
				font-size: 1.125rem;
				line-height: 130%;
			}

			color: var(--text-color-2);

		}

		&._alt {
			h3 {
				color: var(--white);
			}
			p {
				color: var(--white);
			}
			color: var(--white);
			background: var(--primary-color-1);
		}
	}

	// .how-work__image

	&__image {

		@include _992 {
			grid-column: 1; grid-row: 2;
		}
		position: relative;

		// .how-work__image--body

		&--body {
			min-height: 100%;
			img {
				object-position: bottom;
				object-fit: contain;
			}
		}

		// .how-work__image--decor

		&--decor {
			position: absolute;
			left: 0; top: 0;
			width: 100%; height: 100%;
			z-index: -1;
			user-select: none; pointer-events: none;
			img {
				position: absolute;
				left: 50%; top: 50%;
				transform: translate(-53%,-40%);
				width: 700px; height: auto;
				@include _768 {
					width: 800px;
					transform: translate(-60%,-30%);
				}
				opacity: 0.6;
			}
		}
	}

	// .how-work__footer

	&__footer {

		@include _768 {
			display: grid;
			grid-template-columns: auto minmax(300px, 420px);
			padding: 60px 40px 60px 40px;
		}

		@include _992 {
			grid-column: 2 span;
		}

		background: linear-gradient(106.11deg, rgba(14, 134, 156, 0.8) 0%, rgba(50, 153, 172, 0.8) 0.01%, rgba(107, 124, 255, 0.8) 53.06%, rgba(185, 244, 238, 0.8) 91.97%), #209DB4;

		padding: 60px 15px;

		color: var(--white);

		margin: 0 var(--negative-container-padding);

		@include _container {
			margin: 0;
			border-radius: 40px;
		}

		// .how-work__footer--col

		&--col {
			text-align: center;
			&:nth-child(2) {
				margin-top: 30px;
			}
			@include _768 {
				text-align: left;
				&:nth-child(2) {
					margin-top: 0;
				}
			}
		}

		// .how-work__footer--title

		&--title {
			color: var(--white);
			letter-spacing: -0.01em;
		}

		// .how-work__footer--text

		&--text {
			font-weight: 300;
			font-size: 1rem;
			line-height: 140%;
			@include _550 {
				font-size: 1.175rem;
			}
			
			@include _768 {
				font-size: 1.25rem;
			}
			
			@include _992 {
				font-size: 1.375rem;
			}

			p {
				padding-top: 10px;
			}
			
		}

		// .how-work__footer--btn

		&--btn {
		}

		// .how-work__footer--note

		&--note {
			text-align: center;
			display: block;
			margin-top: 10px;
			font-weight: 300;
			
		}
	}
}
