.what-next {

	padding-top: 65px;

	display: grid;
	
	@include _768 {
		grid-template-columns: 1fr 1fr;
		padding-top: 25px;
	}

	> * {
		align-self: center;
	}

	// .what-next__content

	&__content {
		
		@include _768 {
			grid-column: 1;
		}
	}

	// .what-next__title

	&__title {
	}

	// .what-next__text

	&__text {
		padding-top: 20px;
	
		@include _768 {
			padding-top: 10px;
		}
	}

	// .what-next__steps

	&__steps {
		margin-top: 30px;
		@include _768 {
			margin-top: 60px;
		}

		counter-reset: what_next_step_number;

		li:not(:first-child) {
			margin-top: 20px;
			@include _768 {
				margin-top: 30px;
			}
		}

		li {

			max-width: 455px;
			
			&:nth-child(-n + 9)::before {
				content: "0"counter(what_next_step_number);
			}
			
			&::before {
				counter-increment: what_next_step_number;
				content: counter(what_next_step_number);

				font-family: 'Proxima Nova', sans-serif;
				font-style: normal;
				font-weight: 800;
				font-size: 1.5rem;
				line-height: 138%;

				color: #FF9900;

				margin-right: 15px;

			}

			display: flex;
			
			b {
				font-weight: 400;
				font-size: 1.25rem;
				@include _992 {
					font-size: 1.5rem;
				}
				line-height: 120%;
				color: var(--title-color);
			}
		}
	}

	&__decor-text {
		
		
	}

	// .what-next__image

	&__image {

		
		
		@include _768 {
			grid-column: 2;
			padding-left: 20px;
		}

		// .what-next__image--text

		&--text {
			
		}

		// .what-next__image--body

		&--body {
		}
	}
}
